#background{
    background-image: url("pictures/gradient_background.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

h1 , body{
    color: white;
}

#form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#file {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #9e065d;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
}

#upload_file {
    background-color: #9e065d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload_file:hover {
    background-color: #6b043e;
}

#upload_file:active {
    background-color: #910554;
}
#total_spent , #current_amount,  #withdrawn{
    display: none;
}

#catogories{
    display: none;
}

:root{
    --my-start-width: 100px;
    --my-end-width: 1350px;
}
#food, #transport , #retail , #bills , #home , #other , #income{
    height: 40px;
    background-color: transparent;
    border-color: #3498db;
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    transition: width 2s ease-in-out;
    position: relative;
    transition: 0.3s;
 
}

#food-text  , #transport-text , #retail-text , #bills-text , #home-text , #other-text , #income-text{
    position: absolute;
    right: 0; 
    font-size: 14px;
    transition: right 2s ease-in-out; 
    padding-right: 5px; 
    padding-top: 25px;
}
#food:hover ,#food:focus {
    /* background-color: white; */
    box-shadow: inset 0 -3.25em 0 0 white;

}
#food:hover h5, 
#food:hover span {
    color: black; /* Ensures child elements' text also turns black */
}

@keyframes food {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}

#transport{
    border-color: orange;
}
#transport:hover {
    box-shadow: inset 0 -3.25em 0 0 orange;  
}
@keyframes transport {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#retail{
    border-color: purple;
}
#retail:hover {
    box-shadow:  inset 0 -3.25em 0 0 purple;  
}
@keyframes retail {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#bills{
    border-color: green;
}
#bills:hover {
    box-shadow:inset 0 -3.25em 0 0 green;  
}
@keyframes bills {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#home{
    border-color: brown;
}
#home:hover {
    box-shadow:inset 0 -3.25em 0 0 brown;  
}
@keyframes home {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}
#income{
    border-color: #5a2f3e;
}
#income:hover {
    box-shadow: inset 0 -3.25em 0 0 #5a2f3e;  
}
@keyframes other {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}

#other{
    border-color: #3498dd;
}
#other:hover {
    box-shadow: inset 0 -3.25em 0 0 #3498dd;  
}
@keyframes other {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


