#background{
    background-image: url("pictures/gradient_background.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

h1 , body{
    color: white;
}

#form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#file {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #9e065d;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
}

#upload_file {
    background-color: #9e065d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload_file:hover {
    background-color: #6b043e;
}

#upload_file:active {
    background-color: #910554;
}
#total_spent , #current_amount{
    display: none;
}

#catogories{
    display: none;
}
#food, #transport , #retail , #bills , #home , #other{
    height: 25px;
    background-color: #3498db;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    transition: width 2s ease-in-out;
    position: relative;
 
}

#food-text {
    /* todo: fix postion so that its at the edge of the width and not to far needs to work dynamically */
    position: absolute;
    left: 80%;
    font-size: 14px;
    transition: left 2s ease-in-out;
}
@keyframes food {
    0% {
        width: 100px;
   
    }
    100% {
        width: 1000px;
    }
}

#transport{
    background-color: orange;
}
#transport-text{
    position: absolute;
    left: 80%;
    font-size: 14px;
    transition: left 2s ease-in-out;
}
@keyframes transport {
    0% {
        width: 100px;
   
    }
    100% {
        width: 294px;
    }
}


#retail{
    background-color: purple;
}
#retail-text{
    position: absolute;
    left: 80%;
    font-size: 14px;
    transition: left 2s ease-in-out;
}
@keyframes retail {
    0% {
        width: 100px;
   
    }
    100% {
        width: 294px;
    }
}


#bills{
    background-color: green;
}
#bills-text{
    position: absolute;
    left: 80%;
    font-size: 14px;
    transition: left 2s ease-in-out;
}
@keyframes bills {
    0% {
        width: 100px;
   
    }
    100% {
        width: 294px;
    }
}


#home{
    background-color: brown;
}
#home-text{
    position: absolute;
    left: 80%;
    font-size: 14px;
    transition: left 2s ease-in-out;
}
@keyframes home {
    0% {
        width: 100px;
   
    }
    100% {
        width: 294px;
    }
}


#other{
    background-color: red;
}
#other-text{
    position: absolute;
    left: 80%;
    font-size: 14px;
    transition: left 2s ease-in-out;
}
@keyframes other {
    0% {
        width: 100px;
   
    }
    100% {
        width: 294px;
    }
}


