#background{
    background-image: url("pictures/gradient_background.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

h1 , body{
    color: white;
}

#form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#file {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #9e065d;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
}

#upload_file {
    background-color: #9e065d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload_file:hover {
    background-color: #6b043e;
}

#upload_file:active {
    background-color: #910554;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
    text-align: center;     
}


#main_info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


#main_info button {
    padding: 10px 20px;
}


#catogories {
    margin-top: 20px;
}


#catogories div {
    margin: 10px 0;
}


#catogories h5 {
    display: inline-block;
    margin-right: 10px;
}
#total_spent ,   #withdrawn , #income{
    display: none;
    border-color: #4c6389;
    border-width: 3px;
    background-color: transparent;
    width: 150px;
    height: 50px;
    transition: 0.3s;
    color: white;

}
#total_spent:hover ,  #withdrawn:hover , #income:hover{
    border-color:  #4c6389;
    box-shadow: inset 0 -3.35em 0 0 #4c6389;
    transform: translateY(-0.45em);
    
}

#current_amount , #total , #income_info , #withdrawn_info{
    display: none;
}
#catogories{
    display: none;
}

:root{
    --my-start-width: 100px;
    --my-end-width: 1350px;
}
#food, #transport , #retail , #bills , #home , #other {
    height: 40px;
    background-color: transparent;
    border-color: #3498db;
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    transition: width 2s ease-in-out;
    position: relative;
    transition: 0.3s;
 
}

#food-text  , #transport-text , #retail-text , #bills-text , #home-text , #other-text{
    position: absolute;
    right: 0; 
    font-size: 14px;
    transition: right 2s ease-in-out; 
    padding-right: 5px; 
    padding-top: 25px;
}
#food:hover ,#food:focus {
    /* background-color: white; */
    box-shadow: inset 0 -3.25em 0 0 white;

}
#food:hover h5, 
#food:hover span {
    color: black; /* Ensures child elements' text also turns black */
}

@keyframes food {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}

#transport{
    border-color: orange;
}
#transport:hover {
    box-shadow: inset 0 -3.25em 0 0 orange;  
}
@keyframes transport {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#retail{
    border-color: purple;
}
#retail:hover {
    box-shadow:  inset 0 -3.25em 0 0 purple;  
}
@keyframes retail {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#bills{
    border-color: green;
}
#bills:hover {
    box-shadow:inset 0 -3.25em 0 0 green;  
}
@keyframes bills {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#home{
    border-color: brown;
}
#home:hover {
    box-shadow:inset 0 -3.25em 0 0 brown;  
}
@keyframes home {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}
#other{
    border-color: #3498dd;
}
#other:hover {
    box-shadow: inset 0 -3.25em 0 0 #3498dd;  
}
@keyframes other {
    0% {
        width: var(--my-start-width);
   
    }
    100% {
        width: var(--my-end-width);
    }
}


#data_table {
    width: 75%;
    border-collapse: collapse;
    border: 1px solid #4c6389;
    transition: 0.3s ease;
    display:none ;
}

#data_table th, #data_table td {
    text-align: left;
    border: 1px solid #4c6389;
}

#data_table th {
    color: #FFFFFF;
    border-color: #4c6389;
    background-color: transparent;
}

#data_table tr {
    transition: 0.3s ease;
}

#data_table tr:hover {
    background-color: transparent; /* Keep background transparent */
}

#data_table tr:hover td {
    border-color: #27702f; /* Change border color to #27702f */
}

#data_table tr:nth-child(even) {
    transition: 0.3s ease;
}

.amount:hover{
    color: #41bc4f;
}